#sideButton {
    top: 120px;
    left: 0;
    display: flow;
    position: fixed;
    color: white;
    background-color: lightsteelblue;
    border-radius: 0 10px 10px 0;
    border: 3px double;
    border-color: darkblue;
    width: 35px;
    height: 150px;
    font-family: "Bookman Old Style";
    font-size: 20px;
    box-shadow: grey;
    z-index: 20;
}

#sideButton:hover {
    color: midnightblue;
}

#formDiv, #displayDiv {
    top: 120px;
    left: 0;
    position: fixed;
    display: none;
    width: 300px;
    height: 450px;
    font-size: 20px;
    background-color: aqua;
    z-index: 20;
}