#sideButton {
    top: 220px;
    left: 0;
    display: flow;
    position: fixed;
    height: 150px;
    font-size: 20px;
    box-shadow: grey;
    z-index: 20;
}

#sideButton:hover {
    color: black;
}

#formDiv, #displayDiv {
    top: 200px;
    left: 0;
    position: fixed;
    display: none;
    width: 300px;
    height: 450px;
    font-size: 20px;
    background-color: aqua;
    z-index: 20;
}